.movies h2 {
    color: #efefef;
    font-size: 36px;
}

.box-container-1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;

}

.paginado {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: #ff2f28;
    font-size: 24px;


}



.numeracion {
    border: 1px solid #ff2f28;
    padding: 10px 20px;
    border-radius: 44px;



}

.paginaActual {
    display: inline-block;
    background-color: #ac0803;
    text-align: center;
    width: 2.5rem;
    height: 2.5rem;
    color: #fff;
    padding: 0.2rem;
    line-height: 2.5rem;
    border-radius: 5rem;
}

.next,
.back {
    display: inline-block;
    background-color: #ac0803;
    border: none;
    border-radius: 5rem;
    text-align: center;
    width: 2.5rem;
    height: 2.5rem;
    color: #fff;
    padding: 0.3rem;
    line-height: 2.5rem;
    cursor: pointer;

}

.next img,
.back img {
    width: 30px;
    height: 30px;
}

.button-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin-bottom: 90px;
    margin-top: 60px;
}

.load-more {
    background-color: transparent;
    font-size: 20px;

}

.movie-img {
    animation: fadeIn 1s ease-in-out;
}



@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


@media (max-width: 887px) {

    .movies h2 {
        font-size: 18px;
    }

    .load-more {
        margin-right: 80px;
        margin-bottom: 40px;
        margin-right: 0;
    }

    .button-gallery {
        margin-right: 0;
    }

    .movies {
        margin: 30px;
    }



}

@media (max-width: 415px) {

    .movies {
        margin: 30px;
    }

    .button-gallery {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .load-more {
        font-size: 20px;
        margin-right: 0;
        margin-left: 20px;
    }

    .paginado {
        margin-left: 30px;


    }


    .numeracion {
        display: none;


    }

}