
.main-visualizador{
    display: grid;
    grid-template-columns:300px 1fr;
    background-size: cover;
    background-position: center center;
    gap: 90px;
    height: auto;
    margin-bottom: 100px;
   
   

}
.visual-content-visualizador{
    margin: 40px;
   
}
.visual-content-visualizador img{
    border-radius: 10px;
    width: 300px;
    height: 400px;
   
}


.info-content-visualizador p {
    font-size: 20px;
    font-weight: 500;
    margin-right: 90px;
}


.trailer-visualizador{
    margin: 40px;
    grid-column: 1/-1;
}
