.main-visualizador {
    display: grid;
    grid-template-columns: 300px 1fr;
    background-size: cover;
    background-position: center center;
    gap: 90px;
    height: auto;
    margin-bottom: 100px;
    opacity: 0;
    animation: fadeIn 2s forwards;


}

.visual-content-visualizador {
    margin: 40px;

}

.visual-content-visualizador img {
    border-radius: 10px;
    width: 300px;
    height: 400px;

}


.info-content-visualizador p {
    font-size: 20px;
    font-weight: 500;
    margin-right: 90px;
    color: #efefef;
}


.trailer-visualizador {
    margin: 40px;
    grid-column: 1/-1;
    opacity: 0;
    animation: fadeIn 3s forwards;

}

.cerrar-visualizador {

    display: flex;
    text-align: center;
    justify-content: end;
    margin: 10px;

}


.cerrar-visualizador button {
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.btn-visualizador {
    color: #efefef;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media (max-width: 680px) {

    .main-visualizador {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       

    }



    .info-content-visualizador p {
        margin: 0 auto;
        padding: 20px;

    }

    .info-content-visualizador h2 {
        margin: 0 auto;
        padding: 20px;

    }


    .cerrar-visualizador {
        position: absolute;
        top: 10px;
        right: 10px;
    }


    .trailer-visualizador iframe {
        width: 500px;
        /* Ajusta el ancho al 100% */
        height: 300px;
    }


}