
.main-visualizador{
    display: grid;
    grid-template-columns:300px 1fr;
    background-size: cover;
    background-position: center center;
    gap: 90px;
    height: auto;
    margin-bottom: 100px;
    opacity: 0;
    animation: fadeIn 2s forwards;
   

}
.visual-content-visualizador{
    margin: 40px;
   
}
.visual-content-visualizador img{
    border-radius: 10px;
    width: 300px;
    height: 400px;
   
}


.info-content-visualizador p {
    font-size: 20px;
    font-weight: 500;
    margin-right: 90px;
    color: #efefef;
}


.trailer-visualizador{
    margin: 40px;
    grid-column: 1/-1;
    opacity: 0;
    animation: fadeIn 5s forwards;
     
}

.cerrar-visualizador{
 
    display: flex;
    text-align: center;
    justify-content: end;
    margin: 10px;

}


.cerrar-visualizador button{
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer ;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
