.header {
    background-image: url('/bg.jpg');
    background-position: center center;
    background-repeat: none;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;

}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 50px;

    animation: modify-header linear both;
    animation-timeline: scroll(root);
    animation-range: 0 200px;
    
}

.logo {
    font-size: 35px;
    color: #ff2f28;
    text-decoration: none;

}

.menu .navbar ul li {
    position: relative;
    float: left;
    list-style: none;

}

.menu .navbar ul li a {
    font-size: 22px;
    padding: 20px;
    text-decoration: none;
    color: #efefef;
    display: block;
}

.menu .navbar ul li a:hover {
    color: red;
}

#menu {
    display: none;
}

.menu-icon {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-content {
    display: flex;
    width: 100%;
}

.header1 {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-self: flex-end;

}


.header1 img {
    width: 300px;

}

.header2 {
    width: 50%;
    margin-top: 80px;
    text-align: end;
}

.header2 h1 {
    color: #ffffff72;
    font-size: 80px;
    line-height: 80px;
}

.header2 img {
    width: 90px;
}

.btn-1 {
    display: inline-block;
    padding: 7px 20px;
    background-color: #ff2f28;
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
}

.btn-2 {
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 20px;
    background-color: #ff2f28;
    color: #ffffff;
    font-size: 20px;
    margin-top: 30px;
    text-decoration: none;
    margin-left: 150px;

}

@keyframes modify-header{
    to{
        background: rgba(0, 0, 0, 0.7);
        backdrop-filter: blur(5px);
        font-size: 18px;
        color: black;
    }
  
}

@media (max-width: 768px) {

    .menu {
        padding: 20px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #030303;
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    .btn-1 {
        display: none;
    }

    #menu:checked~.navbar {
        display: initial;

    }

    .header-content {
        flex-direction: column;
        padding: 180px 30px 30px 30px;
    }

    .header1 {
        width: 100%;
        align-items: center;
    }

    .header2 {
        width: 100%;
        text-align: center;
    }


}

@media (max-width: 390px) {

    .menu {
        padding: 20px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #030303;
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    .btn-1 {
        display: none;
    }

    #menu:checked~.navbar {
        display: initial;

    }

    .header-content {
        flex-direction: column;
        padding: 180px 30px 30px 30px;
    }

    .header1 {
        width: 100%;
        align-items: center;
    }

    .header2 {
        width: 100%;
        text-align: center;
    }
    

}