.slider{
   
    margin-top: 100px;
    max-width: 1700px;
    overflow: hidden;
}

.slider .slider-track{
    display: flex;
    animation: scroll 10s linear infinite;
    animation-direction: alternate;
    width: calc(200px * 18);
    gap: 30px;
}

.slider .slide{
    width: 200px;

}

.slider .slide img{
    width: 100%;

}

@keyframes scroll {
    0%{
        transform: translateX(0);
       
    }
    100%{
        transform: translateX(calc(-40px * 9 ));
       
    }
    
}